*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#fff;
    color:green;
}

h1{
    color:#255;
    text-align: center;
    font-size: 16px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}